{% extends "base_generic.html" %}
{% block content %}
    <h1>Contacts</h1>
    <h2>TOTAL = {{ total_contacts }}</h2>
    <ul>
        {% for contacts in object_list %}
            <li>{{ contacts.data }} - {{ contacts.org_id }}</li>
        {% empty %}
            <li>No organisations yet.</li>
        {% endfor %}
    </ul>

{% endblock %}
