{% extends "base_generic.html" %}
{% block content %}
    <h1> Add contact</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openpgp/4.10.8/openpgp.min.js" type="text/javascript"></script>

    <style>
        #gpg-pub-key{
            display: none;
        }
        #fieldset-hidden-form{
            display: none;
        }
    </style>

    <p>Alle data wordt binnen jouw browser versleuteld (met GPG) voordat het verstuurd wordt naar de server.
    Pas als de GGD erom vraagt, levert het bestuur van Nijmegen Quick de data samen met de encryptie sleutel aan de GGD.
    </p>
    <form id="form-pre">
      <div class="form-group">
    <label for="email-field">Email address</label>
    <input type="email" class="form-control" id="email-field" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
    <div class="form-group">
        <label for="name-field">Name</label>
        <input type="text" class="form-control" id="name-field">
    </div>

        <div class="form-group">
            <label for="last-name-field">Last name</label>
            <input type="text" class="form-control" id="last-name-field">
        </div>
        <div class="form-group">
            <label for="mobile-field">Mobile number</label>
            <input type="text" class="form-control" id="mobile-field">
        </div>
    </form>

    <div id="gpg-pub-key">{{ public_key.key }}</div>
    <form id="form" method="post">
        {% csrf_token %}
        <fieldset id="fieldset-hidden-form">
            {{ form }}
        </fieldset>
        <input id="submit-button" type="button" value="Submit">
    </form>
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", async function(event) {
            const button = document.getElementById('submit-button');
            button.addEventListener('click', async function (event) {
                // load the public key
                var x = document.getElementById("gpg-pub-key").textContent;
                const publicKey = await openpgp.key.readArmored(x);

                const messageObject = {
                    name: document.getElementById("name-field").value,
                    lastname: document.getElementById("last-name-field").value,
                    email: document.getElementById("email-field").value,
                    phone: document.getElementById("mobile-field").value,
                };

                // first convert it to plain text
                const messageText = JSON.stringify(messageObject);

                // encrypt text message with public key
                const {data: encrypted} = await openpgp.encrypt({
                    message: openpgp.message.fromText(messageText),
                    publicKeys: publicKey.keys,
                });

                console.log('Encrypted message:');
                console.log(encrypted);
                document.getElementById("id_data").value = encrypted;
                const form = document.getElementById('form');
                form.submit();
            });
        });
    </script>
{% endblock %}
