{% extends "base_generic.html" %}
{% block content %}
    <h1>Organisation</h1>
    {% if perms.Organisation_view %}
        <p> has viewing rights</p>
        {% else %}
        <p> NO viewing rights</p>
    {% endif %}
    <ul>
        {% for organisation in object_list %}
            <li>{{ organisation.name }} - <a href="/Contact/add/{{ organisation.id }}"> add contact</a> </li>
        {% empty %}
            <li>No organisations yet.</li>
        {% endfor %}
    </ul>
    <a href="/Organisation/add">Add an organisation</a>
{% endblock %}
