{% extends "base_generic.html" %}
{% block content %}
    <h1> Edit organisation </h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <table>
            {{ form.as_table }}
           </table>
        </fieldset>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
