{% extends "base_generic.html" %}
{% block content %}
    <h1> Dit is org update </h1>
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update">
    </form>
{% endblock %}
