{% extends "base_generic.html" %}

{% block content %}
<p> This is you !</p>
<ul>
    <li>Username: {{ user.username }}</li>
   <li>First name: {{ user.first_name }}</li>
    <li>Last name: {{ user.last_name }}</li>
    <li>Last login: {{ user.last_login}}</li>
</ul>
    <ul>
    {% for o in orgs %}
    <li>Your organisation: {{ o.name}}</li>
    {% endfor %}
    </ul>
    <a href="/accounts/logout/"> Logout </a>

{% endblock %}
